[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vendor/stb"]
	path = Vendor/stb
	url = https://github.com/nothings/stb
[submodule "Vendor/assimp"]
	path = Vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "Vendor/bullet3"]
	path = Vendor/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "Vendor/tracy"]
	path = Vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Vendor/RuntimeCompiledCPlusPlus"]
	path = Vendor/RuntimeCompiledCPlusPlus
	url = https://github.com/danhuynh0803/RuntimeCompiledCPlusPlus
